[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto
[submodule "content/post"]
	path = content/post
	url = https://github.com/puranikvinit/linux-blogs.git
[submodule "content/blogs"]
	path = content/blogs
	url = https://github.com/puranikvinit/linux-blogs.git
